<div class="result">
</div>
<form name="command" class="command" id="command" onsubmit="return false" action="">
  lolcalhost:~ $ <input type="text" autocomplete="off" name="command" id="command_command" style="width:80%;margin:-2px 0 0 -2px;">
</form>

